<main class="ui container">
  <div class="ui segment">
    <div class="ui form">
    </div>
  </div>
  <div class="ui segment">
    <div class="ui divider"></div>
    {{#each grid key="@index" as |gridRow|}}
      {{#each gridRow key="@index" as |gridItem index|}}
        <grid-item @index={{index}} />
      {{/each}}
    {{/each}}
  </div>
</main>